cffi
cycler
decorator
face-alignment
imageio
imageio-ffmpeg
kiwisolver
matplotlib
networkx
numpy
pandas
Pillow
pycparser
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
scikit-image
scikit-learn
scipy
six
torch
torchvision
tqdm
